{% load i18n %}
<style type="text/css">
    li[disabled] {
        display: none;
    }
</style>
<!--{% if namespaces %}
<select id="data-namespace" name="data-namespace">
    <option value="">Filter by app label</option>
    {% for namespace in namespaces %}
    {% if namespace %}
    <option value="{{ namespace|slugify }}">{{ namespace }}</option>
    {% endif %}
    {% endfor %}
</select>
{% endif %}-->
<input type="text" id="data-search" name="data-search" placeholder="Refine&hellip;">
{% include "debug_toolbar/panels/urls_list.html" with urlconf=urlconf only %}
{% load static %}
<script src="{% static 'debug_toolbar/js/toolbar.urls.js' %}"></script>
